hosts = __DB_HOST__
dbname = __DB_NAME__
user = __DB_USER__
password = __DB_PASSWORD__
query = SELECT 1 FROM mailboxes m JOIN domains d ON d.id = m.domain_id WHERE lower('%s') = lower(m.local_part || '@' || d.domain) AND m.enabled = TRUE AND d.enabled = TRUE
